/*height * 0.0618 */
body, html {
    margin: 0;
    padding: 0;
    /*font-family: 'Helvetica', sans-serif;*/
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    background-color: rgb(245, 245, 247);
    color: rgb(29, 29, 32);
    min-height: 100vh;
}



.navbar {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: fixed;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

body.dark-mode .navbar {
    background-color: rgba(30, 30, 30, 0.9);
    /* Karanlık mod için uygun bir gölge ekleyelim */
    /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);*/
    box-shadow: none;
}
body{
    padding-top: 60px;
}

/* Karanlık Mod */
body.dark-mode {
    background: #121212;
}
body.dark-mode .email-form {
    background-color: #1e1e1e !important;
}


body.dark-mode .menu a {
    color: #ffffff;  /* Menü yazılarını beyaz yap */
}

/*menu seçeneği seçildiğinde ince çizgi*/
.menu-link {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s;
    position: relative; /* Çizgi için gerekli */
    padding-bottom: 5px; /* Çizgi için boşluk */
}

.menu-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #2c2c2c; /* Çizgi rengi */
    transform: scaleX(0); /* Başlangıçta çizgi görünmez */
    transition: transform 0.3s ease; /* Çizgi animasyonu */
}

.menu-link:hover::after,
.menu-link.active::after {
    transform: scaleX(1); /* Hover veya aktif durumda çizgi görünür */
}

body.dark-mode .menu-link {
    color: #ffffff; /* Karanlık modda menü yazı rengi */
}

body.dark-mode .menu-link::after {
    background-color: #ffffff; /* Karanlık modda çizgi rengi */
}


body.dark-mode .contact-item span {
    color: #ffffff;  /* Karanlık modda yazılar beyaz */
}
body.dark-mode .email-form input,
body.dark-mode .email-form textarea {
    background-color: #2c2c2c;  /* Koyu gri arka plan */
    color: #ffffff;  /* Yazı rengi beyaz */
    border: 1px solid #555;  /* Kenarlık rengi */
}

body.dark-mode .email-form input::placeholder,
body.dark-mode .email-form textarea::placeholder {
    color: #bbbbbb;  /* Placeholder için açık gri */
}


.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 68vh;  /* Yüksekliği azalt */
    padding-left: 10%;
    margin-bottom: 10px;  /* Alt boşluğu azalt */
}


.menu {
    display: flex;
    gap: 30px;
    align-items: center;  /* Menü öğelerini dikeyde hizala */
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s;
    line-height: 60px;  /* Menü öğelerini navbar yüksekliğiyle hizala */
}

.menu a:hover {
    color: #2c2c2c;
}


.main-image {
    width: 50%; /* Görsel genişliğini ekranın %50'si yap */
    max-width: 400px; /* Maksimum genişlik belirle (örneğin 600px) */
    height: auto; /* Oranları koruyarak yüksekliği otomatik ayarla */
    margin-top: 30px;
    border-radius: 32px;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
}

.profile-section {
    display: flex;
    align-items: center;
    gap: 40px;  /* Fotoğraf ve metin arasındaki boşluk */
}

.profile-pic {
    width: 280px;
    height: auto;
    border-radius: 32px;
    object-fit: cover;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
}

.intro-text {
    max-width: 600px;
    text-align: left;
}

.intro-text h1 {
    margin: 0;
    font-size: 36px;
    color: #333;
}

.intro-text p {
    font-size: 18px;
    line-height: 1.6;
}

.blog-preview {
    margin-top: 20px;
}

.blog-preview ul {
    list-style: none;
    padding: 0;
}

.blog-preview li {
    margin: 15px 0;
}

.blog-preview a {
    text-decoration: none;
    color: #333;
    font-size: 28px;
}

.blog-preview a:hover {
    color: #007BFF;
}


.content-section {
    text-align: center;
    margin: 40px 0;  /* Boşluğu dengeledik */
    padding: 40px 0;  /* Üst ve alt boşluk ekledik */
    background-color: rgb(230, 230, 235);  /* Arka plan rengi */
}
body.dark-mode .content-section {
    background-color: #1e1e1e;
}

h2 {
    font-size: 36px;  /* İstediğin boyuta göre değiştir */
}

.post-grid {
    display: flex;
    justify-content: center;
    align-items: center;  /* Dikeyde hizalama */
    gap: 32px;
    flex-wrap: wrap;  /* Küçük ekranlarda alt satıra geçmesi için */
}

.post-card {
    width: 320px;
    padding: 30px;
    background-color: #f8f8f8;
    border-radius: 32px;  /* Köşeleri yuvarlat */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 120px;  /* Kart yüksekliği sabitlendi */
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Kart içeriğini ortala */
}
body.dark-mode .post-card {
    background-color: #575555;
}

.post-card:hover {
    transform: scale(1.05);  /* Hover efekti */
}

.post-card h3 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 700;  
    color: #333;
}
body.dark-mode .post-card h3 {
    color: #ffffff;
}

.post-card p {
    font-size: 16px;
    font-weight: 400;
    color: #555;
    line-height: 1.6;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 10px 0 0;
}
body.dark-mode .post-card p {
    color: #d2d2d2;
}

.instagram-section {
    text-align: center;
    padding: 8px 0;  /* 60px'den 40px'e düşürdük */
    /*margin-top: -20px; /* Yukarı taşıyarak boşluğu azalt */
    background-color: #e4e3e3;
}
body.dark-mode .instagram-section {
    background-color: #1e1e1e;
}

.instagram-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}


.instagram-section p {
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
    color: #212020;
}
body.dark-mode .instagram-section p {
    color: #ffffff;
}

.instagram-grid {
    display: flex;
    justify-content: center;  /* Ortala */
    gap: 20px;
}
body.dark-mode .instagram-grid {
    background-color: #1e1e1e;
}

.instagram-post img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease;
}

.instagram-post img:hover {
    transform: scale(1.05);  /* Hover efekti */
}

.instagram-header {
    background-color: #e4e3e3;  /* Arka plan siyah */
    color: rgb(0, 0, 0);  /* Yazı beyaz */
    display: block;  /* Tüm genişliği kaplar */
    padding:20px 0;  /* Yalnızca üst ve alt boşluk */
    text-align: center;  /* Yazıyı ortalar */
}
body.dark-mode .instagram-header {
    background-color: #1e1e1e;
    color: #ffffff;
}

.gradient-text {
    font-size: 88px;
    font-weight: bold;
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 1.2), rgba(60, 60, 60, 0.1));  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  /* Metni şeffaf yap, sadece arka plan görünür */
}

/* Karanlık Modda Gradient */
body.dark-mode .gradient-text {
    background: linear-gradient(to bottom, white, rgba(200, 200, 200, 0.8), rgba(255, 255, 255, 0.1));  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tag {
    background-color: black;  /* Arka plan siyah */
    color: white;  /* Yazı rengi beyaz */
    border-radius: 100px;  /* Kenar yuvarlatma */
    padding: 1px 25px;  /* İç boşluk */
    font-size: 36px;  /* Yazı boyutu */
}
body.dark-mode .tag {
    background-color: #e8e8e8;
    color: #1f1e1e;
}




/*karanlk mod için eklemeler */
.toggle-mode {
    position: absolute;
    left: 20px; /* Navbar'ın solundan mesafe */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-mode img {
    width: 28px; /* İstenilen boyut */
    height: 28px;
    transition: transform 0.3s ease;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .navbar {
    background-color: #1f1f1f;
}

body.dark-mode .toggle-mode img {
    content: url('moon-4-xxl.png');  /* Karanlık modda hilal ikonu */
}

/*metod.html*/
.container-metod {
    width: 100%;
    padding-top: 100px;  /* Menü ve başlık için boşluk */
    margin: 0 auto;
    text-align: center;
    color: rgb(8, 8, 8);
}
body.dark-mode .container-metod h1 {
    color: rgb(248, 238, 218);
}


.container-metod h1 {
    font-size: 2.1rem;
    margin-bottom: 20px;
}





/*ilke.html*/
.container-ilke {
    width: 100%;
    padding-top: 100px;  /* Menü ve başlık için boşluk */
    margin: 0 auto;
    text-align: center;
    color: rgb(8, 8, 8);
}
body.dark-mode .container-ilke h1 {
    color: rgb(248, 238, 218);
}


.container-ilke h1 {
    font-size: 3.1rem;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 5%;
    margin-top: -2%;
    font-weight: bold;
    background: linear-gradient(to bottom, #BF953F 0%, #B38728 40%, #d7d299 100%); /* Canlı renkler */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.text-container {
    max-width: 90%; /*900px gerçek olan*/
    margin: 0 auto 20px;
    text-align: left;
    line-height: 1.8;
    font-size: 1.4rem;
    padding: 40px 40px 10px;  /* Metin etrafında boşluk */
    background-color: rgba(250, 250, 250, 0.9);  /* Hafif şeffaf beyaz kutu */
    border-radius: 48px;  /* Kenarları yuvarla */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);  /* Hafif bir gölge */
}

/* Karanlık mod için kutucuk */
body.dark-mode .text-container {
    background-color: rgba(30, 30, 30, 0.9);
    margin: 0 auto 20px;
    color: #e1e1e1;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);  /* Karanlık mod gölgesi */
    border: 1px solid #555;
}
/*gold görseli*/
.image-wrapper {
    text-align: center;  /* Tüm içerikleri ortala */
    margin: 40px 0;  /* Üst ve alt boşluk */
}

.ilke-image {
    max-width: 100%;
    width: 60%;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


/* Karanlık Mod İçin Görsel Kenarlığı */
body.dark-mode .ilke-image {
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);  /* Karanlık modda farklı gölge */
}

.golden-ratio-text {
    font-size: 14px;
    color: #678;
    margin-top: 10px;
    font-style: italic;
    display: block;  /* Tam genişlikte hizalanır */
}

/* Karanlık modda metin rengi */
body.dark-mode .golden-ratio-text {
    color: #bbbbbb;
}

/*gold shell görseli
.image-wrapper1 {
    text-align: left; 
    margin: 40px 0;  
} */
.image-wrapper1 {
    flex: 0 0 auto;
    margin: 0;
    width: 32%; /* Görsel genişliğini biraz azalttım */
}
.flex-container {
    display: flex;
    align-items: flex-start;
    gap: 30px; /* Görsel ile metin arasındaki boşluğu azalttım */
    margin: 40px 0;
    width: 100%;
}
.flex-text {
    flex: 1;
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    line-height: 1.8;
    max-width: 80%; /* Metnin maksimum genişliğini ayarladım */
}
/*
.ilke-image1 {
    max-width: 80%;
    width: 40%;
    height: auto;
    border-radius: 32px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}*/

.ilke-image1 {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 32px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


/* Karanlık Mod İçin Görsel Kenarlığı */
body.dark-mode .ilke-image1 {
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);  /* Karanlık modda farklı gölge */
}

/* About Sayfasına Özel Stil */

/* Container */
.container-about {
    margin-top: 70px; /* Menü çubuğunun altında başlaması için */
    padding: 20px;
    display: flex;
    flex-direction: column; /* İçerikleri alt alta sırala */
    gap: 40px; /* Bölümler arası boşluk */
    background-color: #f5f5f7;
}
body.dark-mode .container-about {
    background-color: #121212; /* same as body dark mode color */
}

/* Instagram Bölümü */
.instagram-about {
    text-align: center;
    padding: 40px 20px;
    background-color: #e4e3e3;
    border-radius: 16px;
    margin-top: 0px;
}

body.dark-mode .instagram-about {
    background-color: #1e1e1e;
}

.instagram-about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.instagram-about .tag {
    color: #fcdc0f;
}

/* Instagram Grid Düzenlemesi */
.instagram-grid-about {
    display: flex;
    flex-direction: column; /* Dikey sıralama için */
    align-items: center;
    gap: 20px;
    width: 100%;
}

.instagram-post-about img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 16px;
    /*box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);*/
    transition: transform 0.3s ease;
}

.instagram-post-about img:hover {
    transform: scale(1.05);
}


/* Load More Container */
.load-more-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    order: 2; /* Butonu her zaman en alta sabitler */
}

.load-more-button {
    width: 42px;
    height: 42px;
    border-radius: 100%; /* Daire şekli */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.8s ease; /* Yumuşak geçiş efekti */
    margin: 0 auto;
}

.load-more-button img {
    width: 44px; /* Resmin boyutunu ayarlayın */
    height: 44px;
    transition: filter 0.8s ease; /* Geçiş efekti */
    margin: 0 auto;
}

.load-more-button:hover {
    background-color: rgb(139, 136, 136); /* Hover rengi */
}

.load-more-button:hover img {
    filter: brightness(1.5); /* Resmi biraz parlaklaştır */
}

body.dark-mode .load-more-button {
    background-color: rgba(140, 138, 138, 0.8); /* Karanlık modda arka plan rengi */
    transition: background-color 0.3s ease; /* Yumuşak geçiş efekti */
}

body.dark-mode .load-more-button:hover {
    background-color: rgb(164, 162, 162); /* Karanlık modda hover rengi */
}

body.dark-mode .load-more-button img {
    filter: invert(1); /* Karanlık modda resmi ters çevir (beyaz yap) */
    transition: filter 0.8s ease; /* Geçiş efekti */
}

body.dark-mode .load-more-button:hover img {
    filter: invert(1) brightness(1.6); /* Karanlık modda resmi biraz karart */
}

#hidden-posts {
    display: none; /* Başlangıçta gizli */
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
/* Görsellerin Düzeni */
.post-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    order: 1; /* Görsellerin üstte kalmasını sağlar */
}

/* Yazılar Bölümü */
.content-about {
    text-align: center;
    padding: 40px 20px;
    background-color: rgb(230, 230, 235);
    border-radius: 16px;
    /*box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);*/
}

body.dark-mode .content-about {
    background-color: #1e1e1e;
}

.post-grid-about {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.post-card-about {
    width: 320px;
    padding: 30px;
    background-color: #f8f8f8;
    border-radius: 16px;
    /*box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body.dark-mode .post-card-about {
    background-color: #575555;
}

.post-card-about:hover {
    transform: scale(1.05);
}

.post-card-about h3 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 700;
    color: #333;
}

body.dark-mode .post-card-about h3 {
    color: #ffffff;
}

.post-card-about p {
    font-size: 16px;
    font-weight: 400;
    color: #555;
    line-height: 1.6;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 10px 0 0;
}

body.dark-mode .post-card-about p {
    color: #d2d2d2;
}


/* Dil İkonu */
.language-toggle {
    position: absolute;
    right: 24px; /* Navbar'ın sağından mesafe */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.language-toggle img {
    width: 28px; /* İkon boyutu */
    height: 28px;
    transition: transform 0.3s ease;
}

.language-toggle:hover img {
    transform: scale(1.1); /* Hover efekti */
}

/* Karanlık Modda Dil İkonu */
body.dark-mode .language-toggle img {
    filter: invert(1);
}